/target
**/*.rs.bk
/api/secret.key
Cargo.lock
note.txt
.env
*.wasm
/api_/db/target/
/api_/encryption/target/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
