/target
**/*.rs.bk
/api/secret.key
Cargo.lock
note.txt
.env
*.wasm
/api_test/db/target/
/api_test/encryption/target/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
